*{
    margin:0;
    padding: 0;
    font-family: "poppins",  sans-serif;
    box-sizing: border-box;
}

footer{
    background-color: #4b4c4d;
    margin-top: auto;
}
.footerContainer{
    width: 100%;
    padding: 30px 20px 5px;
}


.socialIcons{
    display: flex;
    justify-content: center;
}


.socialIcons a{
    width: 50px;
    text-decoration:  none;
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}
.socialIcons a i{
    width: 100px;
    font-size: 2em;
    color:black;
    opacity: 0.9;
}
.socialIcons a:hover{

    background-color: #001986;
    transition: .5s;
}

.socialIcons a:hover i{

   color: white;
    transition: .5s;
}

.footerNav{
    margin: 10px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
color: white;
margin: 22px;
text-decoration: none;
font-size: 1.3em;
opacity: .7;
transition: .5;

}

.footerNav ul li a:hover{
    opacity: 1;
}


.footerBottom{

    background-color: black;
    padding: 5px;
    text-align: center;


}

.footerBottom p{
    color: white;
}
.header{
 
    width: 100%;
    padding: 0 8%;
    background: #4b4c4d;
    position: relative;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08), 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}
nav{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    filter: brightness(0) invert(1);
}
.nav-link{
    padding: 28px 0;
}

.nav-link li{
    display: inline-block;
    margin: 0 15px;
 
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-link li a{

    text-decoration: none;
    padding: 5px 0;
    color: #fff;
    position: relative;
}

.nav-link li  a::after{
    content: '';
    background: #1c6e8c;
    width: 0%;
    height: 2px;
    position: absolute ;
    bottom: 0;
    left: 0;
    transition:  width 0.5s;
}
.nav-link li a:hover::after{
    width: 100%;
}


.content div{
    padding: 20px;
    text-align: center;
    

}


.input {
    color: #1c6e8c;
    border: 2px solid #001986;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #3f3cec inset;
   }
   

  

   table th{
  
    padding: 10px;
   }
   .button {
    background-color: #1c6e8c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  .button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  th a{
    min-width: 250px;
  }
  .inputvcard{
    width: 100%;
}
.organizartior{

    column-span: all;
   
}

#dynamicList li{
    text-decoration: none;
}

#QR_List_Element{
    
    width: 100%;
    background-color: #4b4c4d;
    border: 1px solid;
}

#QR_List_Element tr{
   
    color: white;
    border: 1px solid;
}

#QR_List_Element th{
    width: 100px;
   
    
 }

 form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inputvcard {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  

  .form-box {
    width: 400px; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }